*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    background: url(./assests/bgc.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: fit-content;
    background-position: center;
}
/* body::before {
    content: " ";
    background: url(./assests/bgc.png) no-repeat center/cover;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 4rem;
    font-size: 1rem;
    color: #fff;
}
.logo {

    font-size: 2rem;
    font-weight: bold;
    width: 100px;
    line-height: 1.1;

}
.list-items {

    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4.5rem;
    font-weight: 700;
}
.list-items li:last-child {
    position: relative;
    margin-left: 40px;
}
.phone-svg svg {
    position: absolute;
    width: 180%;
    left: -195px;
    top: -40px;
}

.phone-svg svg path {
    fill: #fff;
}

.list-items::after {
    position: absolute;
    bottom: -25px;
    right: -1px;
    content: "";
    height: 2px;
    border-bottom: 3px solid rgb(235, 224, 224);
    width: 100%;
}
.hero-section h1 {
    color: #fff;
    font-size: 55px;
    margin-left: 4rem;
    margin-top: 5rem;
    width: 50vw;
    font-family: Arial, Helvetica, sans-serif;
}
.btn {
    background-color: transparent;
    margin-left: 4rem;
    margin-top: 2rem;
    padding: .7rem 2rem;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    padding: 1rem;
    background: #758283;
    position: absolute;
    /* box-shadow: 0 3px 5px #0000004c; */
    opacity: 0.4;
}
.card-puzzle {
    position: absolute;
    top: 135px;
    right: 10rem;
    height: 7rem;
    width: 18vw;
}

.card-light {
    position: absolute;
    bottom: 60px;
    right: 140px;
    margin-right: 11rem;
    width: 15rem;
    height: 8rem;

}
.svg-icon {
    background-color: #CAD5E2;
    position: absolute;
    top: 10px;
    width: 40px;
    border-radius: 19px;

}
.svg-icon  img {
    width: 30px;
  padding-left: 12px;
  padding-top: 10px;

}
.text {
    position: absolute;
    margin-right: 1rem;
    bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    opacity: 2;
}
.line-dot-1 {
    position: absolute;
    right: -98px;
    top: 40%;
}
.line-dot-2 {
    position: absolute;
    bottom: -67px;
    right: 15px;
    transform: rotate(90deg);
}


/* media query  */
@media only screen and (max-width: 600px){
    .list-items{
        display: none;
    }
   .logo img {
        width: 50%;
    }
    .hero-section h1 {
        color: #fff;
        font-size: 24px;
        margin-left: 20px;
        margin-top: 1rem;
        width: 50vw;
    }
    .btn {
        background-color: transparent;
        margin-left: 20px;
        margin-top: 1rem;
        padding: 6px 12px;
        border: 1px solid #fff;
        border-radius: 10px;
        font-size: 10px;
        font-weight: 300;
    }
    

    .card {
        padding: 1rem;
        background: #758283;
        position: absolute;
        /* box-shadow: 0 3px 5px #0000004c; */
        opacity: 0.4;
    }
    .card-puzzle {
        position: absolute;
        top: 14rem;
        left: 1rem;
        width: 12rem;
        height: 6rem;
    }
    
    .card-light {
        position: absolute;
        top: 24rem;
        left: 1rem;
        margin-right: 1rem;
        width: 12rem;
        height: 6rem;
    
    }
    .text {
        position: absolute;
        margin-right: 1rem;
        bottom: 20px;
        font-size: 8px;
        font-weight: 500;
        opacity: 2;
    }
    .line-dot-1 {
      display: none;
    }
    .line-dot-2 {
        display: none;
    }
    body {
        background: url(./assests/bgc.png);
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        height: 100%;
        background-position: center;
    }
}